@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded&display=swap');

/* Configurações principais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #00bfa6, #92eadb);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 80%;
    height: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 0 40px 20px 40px;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;

    img {
        padding: 40px;
        width: 32rem;
    }
}

/* Configuração do cabeçalho do formulário */

.header-form {
    h1 {
        margin: 35px 0 15px 0;
        font-weight: 500;

        &::after {
            content: '';
            display: block;
            width: 5rem;
            height: 0.3rem;
            background-color: #00BFA6;
            margin: 0 auto;
            position: absolute;
            border-radius: 10px;
        }
    }

    h6 {
        font-size: 12px;
        font-weight: 500;
    }
}

/* Configuração do corpo do formulário */

.form-body {
    margin: 2rem 0 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.form-item {
    display: flex;
    flex-direction: column;

    input[type="text"],
    input[type="password"],
    input[type="tel"] {
        margin: 0.6rem 0;
        padding: 0.8rem 1.2rem;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 1px 6px #0000001c;
        font-size: 0.8rem;

        &:hover {
            background-color: #f2f2f2;
        }

        &:focus-visible {
            outline: 1px solid #00BFA6;
        }
    }

    label {
        font-size: 0.75rem;
        font-weight: 800;
        color: #000;

        placeholder {
            color: #000000be;
        }
    }
}

.input-gender {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    padding: 0 .5rem;

    input {
        margin-right: 0.35rem;
    }

    label {
        font-size: 0.81rem;
        font-weight: 400;
        color: #000;
    }

    .gender-title {
        font-size: 0.75rem;
        font-weight: 800;
        color: #000;
    }
}

.register-button {
    width: 100%;
    margin-top: 20px;
    border: none;
    background-color: #00BFA6;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: 500;
    }
}

/* Responsive */

@media screen and (max-width: 767px) {
    
    .container {
      grid-template-columns: auto;
    }
    .right-side {
      display: none;
    }
    .input-gender {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .right-side {
      img {
        padding: 40px;
        width: 22rem;
      }
    }
    .input-gender {
        display: flex;
        flex-direction: column;
        
        .gender-title {
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 1024px) {
    .right-side {
      img {
        padding: 40px;
        width: 26rem;
      }
    }
}



